td{
    background: white;
}
hr{
  background: black;
}
.quadrado{
    width: 20px;
    height: 20px;
    background-color: #49ba70;
}
.quadrado-vermelho{
    width: 20px;
    height: 20px;
    background-color: #cf2c2c;
}
.quadrado-azul{
    width: 20px;
    height: 20px;
    background-color: #0da7d4;
}
.quadrado-laranja{
    width: 20px;
    height: 20px;
    background-color: #e69418;
}
.botao{
    background-color: #64c586;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.botao:hover{
  background-color:rgba(47, 241, 135, 0.1);
}
.nav-superior {
    position: fixed;
    width: 100;
    background-color: #a4dcb7;[]
}
.vertical-nav {
    min-width: 15rem;
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;
    background-color: #a4dcb7;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 14rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  .body {
    background: #f0f0f0;

  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }
  