.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:3px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:3px 5px;word-break:normal;}
.tg .tg-0r18{border-color:inherit;font-size:14px;text-align:center;vertical-align:top}
.tg .tg-dsph{background-color:#51bddd;border-color:inherit;color: #FFF; font-size:14px;text-align:center;vertical-align:top}
.tg .tg-1741{background-color:#7BCB97;border-color:inherit;color:#FFF;font-size:14px;text-align:center;vertical-align:top}
.tg .tg-z3qe{background-color:#f0f0f0;border-color:inherit;font-size:18px;text-align:center;vertical-align:top}
.tg .tg-wriw{background-color:#f0f0f0;border-color:inherit;font-size:18px;text-align:left;vertical-align:top}
.tg .tg-zd5i{border-color:inherit;font-size:14px;text-align:left;vertical-align:top}
.tg .tg-6tlp{background-color:#7bcb97;border-color:inherit;color:#ffffff;font-size:14px;text-align:center;vertical-align:top}
.tg .tg-khn2{background-color:#d96767;border-color:inherit;color:#ffffff;font-size:14px;text-align:center;vertical-align:top}
.tg .tg-2r5p{background-color:#e9b059;border-color:inherit;color:#FFF;font-size:14px;text-align:center;vertical-align:top}
tr{
    height: 5px;
}
